/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato');
body,
body * {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

button.mat-raised-button {
  background: #3f51b5;
  color: #fff;
}


